extends layout

block content
  .header
    h1 Clinica Popeye
    p Usuario: nombre_del_usuario
   .main-content
     .navegadorIzquierdo
       nav
         ul    
           li
             a(href="/turnos", onclick="mostrar('turnos'); return false;") Turnos    
     .content     
     