link(rel="stylesheet", href="/css/secretaria/agenda.css")
div(id="contendor-principal", class="contendor-principal")
  div(id="contenedor-filtros", clas="filtros")
    h2 Agendas Disponibles 
    form
      label(for="nombre") Profecional 
      input(type="text", id="nombre", placeholder="Nombre del profesional")

      label(for="especialidad") Especialidad 
      input(type="text", id="especialidad", placeholder="Especialidad")

      label(for="dia") Dia 
      select(id="dias-semana")
        option(value="0") ---- Dias de la semana ---- 
        option(value="1") Lunes   
        option(value="2") Martes 
        option(value="3") Miercoles   
        option(value="4") Jueves 
        option(value="5") Viernes 
      
      button(type="submit", id="enviar-form-agenda", class="enviar-boton") BUSCAR 
  div(id="agendas-resultado")