extends layout

block content
  .header
    h1 Clinica Popeye
    p Usuario: #{nombreUsuario}
  .main-content
    .navegadorIzquierdo
      nav
        ul
          li
            a(href="/agendas", onclick="mostrar('agendas'); return false;")  Agendas        
          li
            a(href="/turnos", onclick="mostrar('turnos'); return false;") Turnos  
          li
            a(href="/paciente", onclick="mostrar('paciente'); return false;") Cargar Paciente       
    .content     
     