link(rel="stylesheet", href="/css/secretaria/turnos.css")
div(id="contenedor-principal", class="contenedor-principal")
  div(id="formulario-turnos", class="form-turnos")
    h2 Nuevo Evento 
    form
      label(for="nombre") Profecional
      input(type="text", id="nombre", placeholder="Nombre del profesional")

      label(for="especialidad") Especialidad 
      input(type="text", id="especialidad", placeholder="Especialidad")

      button(type="submit", id="enviar-form-turno") BUSCAR


  div(id="contenedor-turno", class="contenedor-turno")
    h2 Turnos Disponibles
    table(id="tabla-turno", class="tabla-turno") 
      thead 
        tr  
          th HORA
          th LUNES
          th MARTES 
          th MIERCOLES 
          th JUEVES
          th VIERNES
      tbody 
  dialog(id="modal-cargaTurno", class="contenedor-modal")
    h2 Cargar Turno 
    form(method="dialog")

      label(for="dni") DNI
      input(type="text", id="dni")
      div( id="sugerencias-dni" class="sugerencias-container")

      label(for="nombreTurno") Nombre
      input(type="text", id="nombreTurno")

      label(for="apellido") Apellido 
      input(type="text", id="apellido")

      label(for="motivo") Motivo Consulta 
      input(type="text", id="motivo")

      label(for="clasificacion") Clasificacion 
      select(id="clasificacion")
        option(value="NULL") ---- SELECCIONE ----
        option(value="Normal") NORMAL 
        option(value="Especial") ESPECIAL     
        option(value="Vip") VIP 

      label(for="obra") Obra Social 
      input(type="text", id="obra")

      div(class="botones-turnos-contenedor")
        button(type="submit", id="enviar-form-cargaTurno") Confirmar  
        button(Type="submit",id="enviar-form-paciente") Nuevo Paciente
  
  dialog(id="exito-turnos", class="contenedor-exito") ✅ Turno confirmado con Exito 