extends layaout

block content
  .header
    h1 Clinica Popeye
    p Usuario: nombre_del_usuario
  .main-content
    .navegadorIzquierdo
      nav
        ul
          li
            a(href="#") Buscar Turno
          li
            a(href="#", onclick="mostrar('crearProfesional')") Cargar Profesional 
          li
            a(href="#", onclick="mostrar('cargarSucursal')") Carga Sucursal
          li
            a(href="#") Opcion4
    .content     
     
