extend layaout
block content
div(class="header")
    h1 Clinica Popeye
    p Usuario: nombre_del_usuario
div(class="navegadorIzquierdo")
    nav
        li
            a(href="#") nombre1
        li
            a(href="#") Nombre2
        li
            a(href="#") Opcion3
        li
            a(href="#") Opcion3
div(class="content")
