/* Estilos generales */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
}

h2 {
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Contenedor de Login */
.contenedor-login {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.contenedor-login form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 15px;
  font-weight: bold;
  color: #555;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 16px;
}

button[type="submit"],
.boton-registrarse {
  margin-top: 20px;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover,
.boton-registrarse:hover {
  background-color: #45a049;
}

/* Estilos para el modal */
.contenedor-modal,
.contenedor-exito {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: none;
  text-align: center;
}

.contenedor-modal[open],
.contenedor-exito[open] {
  display: block;
}

.contenedor-modal form {
  display: flex;
  flex-direction: column;
}

.contenedor-exito {
  background-color: #4CAF50;
  color: #fff;
  font-weight: bold;
  padding: 15px;
  border-radius: 5px;
}

/* Botón de cerrar el modal */
.contenedor-modal button {
  margin-top: 20px;
  padding: 10px;
  background-color: #007BFF;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contenedor-modal button:hover {
  background-color: #0056b3;
}

/* Fondo de la página cuando el modal está abierto */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
}

.contenedor-modal[open] ~ body::before,
.contenedor-exito[open] ~ body::before {
  display: block;
}
