link(rel="stylesheet", href="/css/sucursalCarga.css")
div(id="tabla-sucursales", class="contenedor-tabla")
  table(id="tabla", class="tabla-sucursales") 
    thead 
      tr  
        th NOMBRE 
        th DIRECCION 
        th CLASIFICACION 
    tbody 
  button(id="abrir-modal", class="boton-agregar") AGREGAR SUCURSAL

  dialog(id="modal", class="contenedor-modal")
    h2 Nueva Sucursal 
    form(method="dialog")
      label(for="nombre")  Nombre 
      input(type="text", id="nombre")
    
      label(for="direccion") Direccion
      input(type="text", id="direccion")

      label(for="clasificacion") Clasificacion 
      input(type="text", id="clasificacion")

      button(type="submit", id="enviar-form") ENVIAR

  dialog(id="exito", class="contenedor-exito") ✅ Agregado con éxito
