link(rel="stylesheet", href="/css/administrador/profesional.css")

div(id="tabla-profesionales", class="contenedor-tabla")
  table(id="tabla-profesional", class="tabla-profesionales")
    thead
      tr
        th NOMBRE
        th APELLIDO
        th ESPECIALIDAD
        th MATRICULA
    tbody

button(id="abrir-modal", class="boton-agregar") AGREGAR PROFESIONAL

dialog(id="modal", class="contenedor-modal")
  h2 Nuevo Profesional
  form
    label(for="nombre") Nombre
    input(type="text", id="nombre")

    label(for="apellido") Apellido
    input(type="text", id="apellido")

    label(for="matricula") Matrícula
    input(type="text", id="matricula")

    label(for="especialidad") Especialidad
    select(id="especialidad")

    button(type="submit", id="enviar-form") ENVIAR

dialog(id="exito", class="contenedor-exito") ✅ Profesional agregado con éxito


