extends layaout

block content
  .header
    h1 Clinica Popeye
    p #{nombreUsuario}
  .main-content
    .navegadorIzquierdo
      nav
        ul
          li
            a(href="/agenda", onclick="mostrar('cargarAgenda'); return false;") Cargar Agenda
          li
            a(href="/profesional", onclick="mostrar('crearProfesional'); return false;") Cargar Profesional 
          li  
            a(href="/empleado",onclick="mostrar('cargarEmpleado');return false;") Cargar Empleado
          li
            a(href="/sucursal", onclick="mostrar('cargarSucursal'); return false;") Carga Sucursal
          li
            a(href="/calendario", onclick="mostrar('cargarCalendario'); return false;") Cargar Calendario
    .content     
     
