extends layout

block content 
  .header 
    h1 Clinica Popeye 
    p #{nombreUsuario}
  .main-content 
    .navegadorIzquierdo 
      h2 ESPECIALIDADES
      nav   
        ul(id="especialidades") 
    .content 
      h2 Bienvenido doctor