link(rel="stylesheet", href="/css/profesional/vista.css")
h2 Turnos para la especialidad seleccionada  
div(id="tabla-agendas", class="contenedor-tabla")
  table(id="tabla", class="tabla-agendas") 
    thead 
      tr  
        th NOMBRE 
        th DIRECCION 
        th CLASIFICACION 
    tbody 