link(rel="stylesheet", href="/css/profesional/vista.css")
h2 Turnos para la especialidad seleccionada  
div(id="tabla-agendas", class="contenedor-tabla")
  table(id="tabla-agenda-profecional", class="tabla-agendas") 
    thead 
      tr  
        th PACIENTE        
        th MOTIVO 
        th OBRA SOCIAL
        th FECHA 
        th HORA 
    tbody 