/* Contenedor principal para el formulario y el calendario */
.contenedor-principal {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 100vh;
  /* overflow: hidden; */
}

/* Estilo para el formulario */
.form-turnos {
  width: 30%;
  margin-right: 20px;
}

.form-turnos h2 {
  font-size: 20px;
  color: #004080;
  margin-bottom: 20px;
}

.form-turnos form {
  display: flex;
  flex-direction: column;
}

.form-turnos label {
  margin-top: 10px;
  font-weight: bold;
}

.form-turnos input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-turnos button {
  margin-top: 15px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.form-turnos button:hover {
  background-color: #45a049;
}

/* Estilos para la tabla */
.contenedor-turno {
  width: 100%;
  max-width: 80%;
  margin: 20px auto;
  overflow-x: auto; /* Permite desplazamiento horizontal si es necesario */
}

.tabla-turno {
  width: 100%;
  max-width: 100%; /* Se ajusta al contenedor */
  border-collapse: collapse;
  table-layout: fixed; /* Distribuye las celdas en el ancho disponible */
}

.tabla-turno th,
.tabla-turno td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.tabla-turno th {
  background-color: #004080;
  color: white;
}

.tabla-turno tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-turno tr:hover {
  background-color: #f1f1f1;
}

.contenedor-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1000;
  overflow: hidden; /* Previene scroll horizontal */
}

.contenedor-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

h2 {
  margin: 0 0 10px; /* Evita líneas adicionales */
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  position: relative; /* Para posicionar sugerencias relativo al formulario */
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sugerencias-container {
  position: absolute;
  top: 17%; /* Justo debajo del input */
  left: 0;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
}

.sugerencia {
  padding: 10px;
  cursor: pointer;
}

.sugerencia:hover {
  background: #f0f0f0;
}

.botones-turnos-contenedor {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

button#enviar-form-paciente {
  background-color: #007bff;
}

button#enviar-form-paciente:hover {
  background-color: #0056b3;
}
