/* Estilos principales */
.content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para la tabla */
.contenedor-tabla {
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
}

.tabla-profesionales {
  width: 100%;
  border-collapse: collapse;
}

.tabla-profesionales th,
.tabla-profesionales td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.tabla-profesionales th {
  background-color: #004080;
  color: white;
}

.tabla-profesionales tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-profesionales tr:hover {
  background-color: #f1f1f1;
}

.contenedor-botones {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
}

/* Estilo del botón para agregar */
.boton-agregar {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.boton-agregar:hover {
  background-color: #45a049;
}

/* Estilos para el modal */
.contenedor-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1000;
}

.contenedor-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}

/* Contenedor para el título y nombre */
.nombre-contenedor {
  display: flex;
  gap: 10px; /* Espacio entre el select y el input */
  margin-top: 5px;
}

.nombre-contenedor select {
  flex-basis: 30%; /* Select más pequeño */
}

.nombre-contenedor input {
  flex-grow: 1; /* Input del nombre ocupa el resto del espacio */
}

/* Cada label y su input/select estarán en columnas separadas */
label {
  margin-bottom: 5px; /* Espacio entre el label y el input */
  font-weight: bold;
}

input,
select {
  padding: 8px;
  margin-bottom: 15px; /* Espacio debajo de cada input/select */
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
}

/* Botón de envío con el mismo ancho que el input */
button {
  margin-top: 15px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.enviar-boton {
  width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px; /* Ajusta el margen si es necesario */
}

.enviar-boton:hover {
  background-color: #45a049; /* Color al pasar el cursor */
}

/* Estilos para la ventana de éxito */
.contenedor-exito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1000;
  text-align: center;
}

.contenedor-exito::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
