/* Estilos principales */
.content {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para la tabla */
.contenedor-tabla {
  width: 100%;
  max-width: 90%;
  margin: 20px auto;
}

.tabla-profesionales {
  width: 100%;
  border-collapse: collapse;
}

.tabla-profesionales th,
.tabla-profesionales td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.tabla-profesionales th {
  background-color: #004080;
  color: white;
}

.tabla-profesionales tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tabla-profesionales tr:hover {
  background-color: #f1f1f1;
}

/* Estilo del botón para agregar */
.boton-agregar {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.boton-agregar:hover {
  background-color: #45a049;
}

/* Estilos para el modal */
.contenedor-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1000;
}

.contenedor-modal::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input,
select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

/* Estilos para la ventana de éxito */
.contenedor-exito {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 1000;
  text-align: center;
}

.contenedor-exito::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}
